/* ------------ GOOGLE FONTS ------------ */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* ------------ VARIABLES ------------ */
:root {
  /* FONT */
  --font: 'Montserrat';

  /* COLORS */
  --color: #001220;
  --bg-color: #ffe1cc;
}

/* ------------ BASE ------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  font-family: 'Montserrat';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  
  background-image: url(/jesus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

/* ----------- SLIDER ------------ */
.swiper {
  width: 100%;
  padding: 4em 0;
  background-repeat: repeat-x;
  background-position: left;
  background-size: contain 2000px;
  background-image: url(/public/jesus.svg);

  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(./jesus.svg); */
}

@media (max-width: 1200px) {
  .swiper {
    background-size: cover;
  }
}

.swiperWrapper {
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: flex-start;
  margin: 2em 0;
}

.card {
  width: 20em;
  height: 90%;
  border-radius: 1em;
  padding: 1em 0.5em;
  background-color: #ff00dd28;
  box-shadow: 0 0 0.5em #ea00ff;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 2em;

  position: relative;
  border-radius: 15px;
  justify-content: flex-start;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform-style: preserve-3d;
  transform: perspective(800px);
}

.notActiveSlide {
  filter: blur(2px);
  background-color: #ffffff00;
}

.cardImage {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 3px solid;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #ea00ff;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0.5em #001220;
  padding: 3px;
  margin-bottom: 2em;
  justify-self: center;
}

.cardImageImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.cardContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffe1cc;
}

.cardTitle {
  position: relative;
  top: 0.2em;
  font-size: larger;
}

.cardName {
  color: #ec9355;
  font-size: x-large;
}

.cardText {
  text-align: center;
  margin: 2em 2em;
  font-family: 'Montserrat';
  font-weight: lighter;
}

.cardBtn {
  background-color: var(--color);
  color: #ffe1cc;
  font-family: 'Montserrat';
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
}
