<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Verlith-footer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
  </head>
  <body>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Verlith</h4>
            <ul>
              <li><a href="#">NFT</a></li>
              <li><a href="#">privacy policy</a></li>
              <li><a href="#">Terms of use</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>HX13 Company</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Governance</a></li>
              <li><a href="#">HC Token</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Socials</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-telegram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-discord"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <!--------****FOOTER LOGO HC 4. COLUMN HERE****----------->
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
